$listPrefixCls: cu-list;

.#{$listPrefixCls} {
  & + & {
    margin-top: 15px;
  }

  & > .cu-item {
    transition: all 0.6s ease-in-out 0s;
    transform: translateX(0px);
  }

  & > .cu-item.move-cur {
    transform: translateX(-130px);
  }

  & > .cu-item .move {
    position: absolute;
    right: 0;
    display: flex;
    width: 130px;
    height: 100%;
    transform: translateX(100%);
  }

  & > .cu-item .move view {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &.menu > .cu-item {
    position: relative;
    display: flex;
    padding: 0 15px;
    min-height: 50px;
    //background-color: #fff;
    justify-content: space-between;
    align-items: center;
  }

  &.menu > .cu-item:last-child:after {
    border: none;
  }

  &.menu > .cu-item:after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border-bottom: 1px solid #ddd;
    border-radius: inherit;
    content: ' ';
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
  }

  &.menu > .cu-item.cur {
    background-color: #fcf7e9;
  }

  &.menu > .cu-item.arrow {
    padding-right: 45px;
  }

  &.menu > .cu-item.arrow:before {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
    color: grey;
    content: '\e6a3';
    text-align: center;
    font-size: 14px;
    font-family: 'cuIcon';
    line-height: 15px;
  }

  &.menu > .cu-item button.content {
    padding: 0;
    background-color: transparent;
    justify-content: flex-start;
  }

  &.menu > .cu-item button.content:after {
    display: none;
  }

  &.menu > .cu-item .cu-avatar-group .cu-avatar {
    border-color: #fff;
  }

  &.menu > .cu-item .content > view:first-child {
    display: flex;
    align-items: center;
  }

  &.menu > .cu-item .content > text[class*='cuIcon'] {
    display: inline-block;
    margin-right: 5px;
    width: 1.6em;
    text-align: center;
  }

  &.menu > .cu-item .content > image {
    display: inline-block;
    margin-right: 5px;
    width: 1.6em;
    height: 1.6em;
    vertical-align: middle;
  }

  &.menu > .cu-item .content {
    font-size: 14px;
    line-height: 1.6em;
    flex: 1;
  }

  &.menu > .cu-item .content .cu-tag.sm {
    display: inline-block;
    margin-left: 5px;
    height: 14px;
    font-size: 12px;
    line-height: 16px;
  }

  &.menu > .cu-item .action .cu-tag:empty {
    right: 5px;
  }

  &.menu {
    display: block;
    overflow: hidden;
  }

  &.menu.sm-border > .cu-item:after {
    left: 15px;
    width: calc(200% - 60px);
  }
}

/* ==================
         进度条
 ==================== */
.cu-progress {
  overflow: hidden;
  height: 14px;
  background-color: #ebeef5;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.cu-progress + view,
.cu-progress + text {
  line-height: 1;
}

.cu-progress.xs {
  height: 5px;
}

.cu-progress.sm {
  height: 10px;
}

.cu-progress.round {
  border-radius: 2500px;
  -webkit-border-radius: 2500px;
  -moz-border-radius: 2500px;
  -ms-border-radius: 2500px;
  -o-border-radius: 2500px;
}

.cu-progress view {
  width: 0;
  height: 100%;
  align-items: center;
  display: flex;
  justify-items: flex-end;
  justify-content: space-around;
  font-size: 10px;
  color: #ffffff;
  transition: width 0.6s ease;
}

.cu-progress text {
  align-items: center;
  display: flex;
  font-size: 10px;
  color: #333333;
  text-indent: 5px;
}

.cu-progress.text-progress {
  padding-right: 30px;
}

.cu-progress.striped view {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 36px 36px;
}

.cu-progress.active view {
  animation: progress-stripes 2s linear infinite;
}

@keyframes progress-stripes {
  from {
    background-position: 36px 0;
  }

  to {
    background-position: 0 0;
  }
}

/* ==================
          按钮
 ==================== */

.cu-btn {
  position: relative;
  border: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 14px;
  height: 32px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0px, 0px);
  margin-right: initial;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}

.cu-btn::after {
  display: none;
}

.cu-btn:not([class*='bg-']) {
  background-color: #f0f0f0;
}

.cu-btn[class*='line'] {
  background-color: transparent;
}

.cu-btn[class*='line']::after {
  content: ' ';
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1upx solid currentColor;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 6px;
  z-index: 1;
  pointer-events: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.cu-btn.round[class*='line']::after {
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
}

.cu-btn[class*='lines']::after {
  border: 3px solid currentColor;
}

.cu-btn[class*='bg-']::after {
  display: none;
}

.cu-btn.sm {
  padding: 0 10px;
  font-size: 10px;
  height: 24px;
}

.cu-btn.lg {
  padding: 0 20px;
  font-size: 16px;
  height: 40px;
}

.cu-btn.cuIcon.sm {
  width: 24px;
  height: 24px;
}

.cu-btn.cuIcon {
  width: 32px;
  height: 32px;
  border-radius: 250px;
  padding: 0;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
}

button.cuIcon.lg {
  width: 40px;
  height: 40px;
}

.cu-btn.shadow-blur::before {
  top: 2px;
  left: 2px;
  filter: blur(3px);
  opacity: 0.6;
  -webkit-filter: blur(3px);
}

.cu-btn.button-hover {
  transform: translate(0.5px, 0.5px);
  -webkit-transform: translate(0.5px, 0.5px);
  -moz-transform: translate(0.5px, 0.5px);
  -ms-transform: translate(0.5px, 0.5px);
  -o-transform: translate(0.5px, 0.5px);
}

.block {
  display: block;
}

.cu-btn.block {
  display: flex;
}

.cu-btn[disabled] {
  opacity: 0.6;
  color: #ffffff;
}
